@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;
  background-color: #ededed;
  height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
}
.asc {
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
}

.desc {
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
  transform: rotate(180deg);
}

.sortable:hover svg {
  opacity: 0.7;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
}

.leaflet-container {
  height: 300px;
}

.arrow-steper::before {
  content: ' ';
  position: absolute;
  top: -1px;
  left: 7rem;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid red;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}

/* .arrow-steper::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
} */
/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  /* 'auto' | 'thin' | 'none' */
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
}
